In [30]:
import sqlite3
con = sqlite3.connect("test.db")
try:
    con.executescript("DROP TABLE Swimmers;DROP TABLE Events;DROP TABLE Results;")
    print("Cleared All past data")
except Exception as e:
    if "no such table:" not in str(e):
        print("Error:",e)

createSwimmers = "CREATE TABLE Swimmers (SwimmerID INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT,gender TEXT,`date of birth` TEXT);"
createEvents = "CREATE TABLE Events (EventID INTEGER PRIMARY KEY AUTOINCREMENT, date TEXT,`stroke type` TEXT, gender TEXT,distance NUM);"
createResults = "CREATE TABLE Results (ResultsID INTEGER PRIMARY KEY AUTOINCREMENT, SwimmerID  INTEGER, EventID INTEGER,time NUM, FOREIGN KEY (SwimmerID) REFERENCES Swimmers(SwimmerID), FOREIGN KEY (EventID) REFERENCES Events(EventID));"
con.executescript(createSwimmers+createEvents+createResults)

In [0]:
swimmerText = """\
Swimmer: John, Male, 14-March-1990
Swimmer: Michael, Male, 12-June-1991
Swimmer: Vincent, Male, 28-September-1989
Swimmer: Katy, Female, 2-February-1990
Swimmer: Priscilla, Female, 3-March-1991
Swimmer: Rebecca, Female, 8-December-1992\
"""
data = swimmerText.split('\n')
for i in data:
    thing = i.split(", ")
    thing[0] = thing[0][9:]
    statement = "INSERT INTO Swimmers(name, gender,`date of birth`) VALUES(?,?,?);"
    con.execute(statement,thing)

eventsText = """\
Event: 10-Feb-2018, Front Crawl, Male, 100
Event: 11-Feb-2018, Front Crawl, Female, 100
Event: 12-Feb-2018, Breast Stroke, Male, 100
Event: 13-Feb-2018, Breast Stroke, Female, 100\
"""
data = eventsText.split("\n")
for i in data:
    thing = i.split(", ")
    thing[0] = thing[0][7:]
    statement = "INSERT INTO Events(date, `stroke type`,gender, distance) VALUES(?,?,?,?);"
    con.execute(statement,thing)

resultsText = """\
Results: 1, 1, 120.94
Results: 2, 1, 121.13
Results: 3, 1, 119.22
Results: 1, 3, 125.27
Results: 2, 3, 124.99
Results: 3, 3, 126.00
Results: 4, 2, 125.11
Results: 5, 2, 125.10
Results: 6, 2, 126.25
Results: 4, 4, 126.35
Results: 5, 4, 127.28
Results: 6, 4, 126.89\
"""

data = resultsText.split('\n')
for i in data:
    thing = i.split(", ")
    thing[0] = thing[0][9:]
    statement = "INSERT INTO Results(SwimmerID, EventID,time) VALUES(?,?,?);"
    con.execute(statement,thing)

In [32]:
cursor = con.execute("SELECT * FROM Swimmers;")
for i in cursor:
    print(i)

print()
cursor = con.execute("SELECT * FROM Events;")
for i in cursor:
    print(i)

print()
cursor = con.execute("SELECT * FROM Results;"
)
for i in cursor:
    print(i)

(1, 'John', 'Male', '14-March-1990')
(2, 'Michael', 'Male', '12-June-1991')
(3, 'Vincent', 'Male', '28-September-1989')
(4, 'Katy', 'Female', '2-February-1990')
(5, 'Priscilla', 'Female', '3-March-1991')
(6, 'Rebecca', 'Female', '8-December-1992')

(1, '10-Feb-2018', 'Front Crawl', 'Male', 100)
(2, '11-Feb-2018', 'Front Crawl', 'Female', 100)
(3, '12-Feb-2018', 'Breast Stroke', 'Male', 100)
(4, '13-Feb-2018', 'Breast Stroke', 'Female', 100)

(1, 1, 1, 120.94)
(2, 2, 1, 121.13)
(3, 3, 1, 119.22)
(4, 1, 3, 125.27)
(5, 2, 3, 124.99)
(6, 3, 3, 126)
(7, 4, 2, 125.11)
(8, 5, 2, 125.1)
(9, 6, 2, 126.25)
(10, 4, 4, 126.35)
(11, 5, 4, 127.28)
(12, 6, 4, 126.89)

In [0]:
Q2 = "INSERT INTO Swimmers(name, gender,`date of birth`) VALUES('Jane','Female','11-November-1992');"
con.execute(Q2)

In [0]:
Q3 = "INSERT INTO Results(SwimmerID, EventID,time) VALUES("+\
        "(SELECT SwimmerID FROM Swimmers WHERE name='Jane'),"+\
        "(SELECT EventID FROM Events WHERE `stroke type`='Front Crawl' AND gender='Female'),125.45);"
con.execute(Q3)

In [33]:
Q4 = "SELECT Swimmers.SwimmerID,name,time FROM Swimmers LEFT OUTER JOIN Results ON Swimmers.SwimmerID=Results.SwimmerID WHERE EventID IN (SELECT EventID FROM Events WHERE `stroke type`='Breast Stroke') ORDER BY time ASC LIMIT 2;"
cur = con.execute(Q4)
for i in cur:
    print(i)

(2, 'Michael', 124.99)
(1, 'John', 125.27)

In [35]:
events = "SELECT EventID FROM Events WHERE `stroke type`='Front Crawl'"
Q5 = "SELECT DISTINCT Count(Swimmers.SwimmerID) FROM Swimmers LEFT OUTER JOIN Results ON Swimmers.SwimmerID=Results.SwimmerID WHERE EventID IN (SELECT EventID FROM Events WHERE `stroke type`='Front Crawl') "
cur = con.execute(Q5)
for i in cur:
    print(i[0])

6

In [0]:
person = "SELECT SwimmerID FROM Swimmers WHERE name='John'"
event = "SELECT EventID FROM Events WHERE `stroke type`='Breast Stroke' AND distance=100"
Q6 = "DELETE FROM Results WHERE SwimmerID IN ("+person+") AND EventID IN("+event+")"
con.execute(Q6)
Q6

"DELETE FROM Results WHERE SwimmerID IN (SELECT SwimmerID FROM Swimmers WHERE name='John') AND EventID IN(SELECT EventID FROM Events WHERE `stroke type`='Breast Stroke' AND distance=100)"

In [0]:
con.close()

In [0]:
help(con)

Help on Connection object:

class Connection(builtins.object)
 |  SQLite database connection object.
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __enter__(...)
 |      For context manager. Non-standard.
 |
 |  __exit__(...)
 |      For context manager. Non-standard.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  close(...)
 |      Closes the connection.
 |
 |  commit(...)
 |      Commit the current transaction.
 |
 |  create_aggregate(...)
 |      Creates a new aggregate. Non-standard.
 |
 |  create_collation(...)
 |      Creates a collation function. Non-standard.
 |
 |  create_function(...)
 |      Creates a new function. Non-standard.
 |
 |  cursor(...)
 |      Return a cursor for the connection.
 |
 |  enable_load_extension(...)
 |      Enable dynamic loading of SQLite extension modules. Non-standard.
 |
 |  execute(...)
 |      Executes a SQL statement. Non-standard.
 |
 |  executemany(...)
 |      Repeatedly executes a SQL statement. Non-standard.
 |
 |  executescript(...)
 |      Executes a multiple SQL statements at once. Non-standard.
 |
 |  interrupt(...)
 |      Abort any pending database operation. Non-standard.
 |
 |  iterdump(...)
 |      Returns iterator to the dump of the database in an SQL text format. Non-standard.
 |
 |  load_extension(...)
 |      Load SQLite extension module. Non-standard.
 |
 |  rollback(...)
 |      Roll back the current transaction.
 |
 |  set_authorizer(...)
 |      Sets authorizer callback. Non-standard.
 |
 |  set_progress_handler(...)
 |      Sets progress handler callback. Non-standard.
 |
 |  set_trace_callback(...)
 |      Sets a trace callback called for each SQL statement (passed as unicode). Non-standard.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  DataError
 |
 |  DatabaseError
 |
 |  Error
 |
 |  IntegrityError
 |
 |  InterfaceError
 |
 |  InternalError
 |
 |  NotSupportedError
 |
 |  OperationalError
 |
 |  ProgrammingError
 |
 |  Warning
 |
 |  in_transaction
 |
 |  isolation_level
 |
 |  row_factory
 |
 |  text_factory
 |
 |  total_changes